//pallets

$black-color: #000000;
$white-color: #ffffff;
$grey-color: #dce2e5;

$brand-blue: #115d8c;
$brand-orange: #f25d27;

$title-color: #123952;
$text-color: #61747f;
$complement-color: #a0acb2;

$exclude-color: #de3838;
$green-color: #51b853;
$green-low-color: #dcf5dd;
$blue-low-color: #dde9f0;
$orange-low-color: #ffa585;
$yellow-color: #efb866;

$background-color: #f5f8fa;
