//pallets

$white-color: #FFFFFF;
$grey-color: #DCE2E5;

$brand-blue: #115D8C;
$brand-orange: #F25D27;

$title-color: #123952;
$text-color: #61747F;
$complement-color: #A0ACB2;

$exclude-color: #DE3838;
$green-color: #51B853;
$green-low-color: #DCF5DD;
$blue-low-color: #DDE9F0;
$orange-low-color: #FFA585;
$yellow-color: #EFB866;

$background-color: #F5F8FA;
