:root {
  --brand-blue: #115d8c;
  --brand-orange: ##f25d27;
  --text-title: #123952;
  --text-text: #61747f;
  --text-complement: #a0acb2;
  --white: #fff;
  --bg-color: #f5f8fa;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--bg-color);
}
