@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background: #F0F0F5;
}

*{
  box-sizing: content-box;
}

body {
  background: var(--background)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
