@use "../utils/variables" as *;
@import "../utils/mixins";

.container-return-main {
  @include nav-container;
  @apply flex gap-2;
}

.container-product {
  @apply grid grid-cols-1 md:grid-cols-2 gap-10;

  .container-product-description {
    @apply grid grid-rows-3 p-0;
  }
}

.container-product-info {
  .product-brand {
    @apply text-base mb-3;
  }
  
  .product-name {
    @apply text-3xl mb-2;
  }

  .product-price {
    color: $black-color;
    @apply text-xl font-extrabold mb-3;
  }

  .product-promotion {
    @apply text-sm;
  }

}

.product-description {
  
  h3 {
    text-transform: uppercase;
  }
}