.container-card-image {
  @apply w-auto h-80;
}

.card-image {
  @apply border-2 w-full h-full object-cover;
}

.container-info-product-card > h2 {
  font-size: 12px;
  margin: 6px 0;
}

.container-info-product-card > ul {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.container-info-product-card > ul > li {
  color: black;
}

.container-info-product-card > ul > li:nth-child(2) {
  font-weight: 600;
}