@use "./utils/variables" as *;
@use "components/header.scss";
@use "components/card.scss";
@use "components/search.scss";
@use "components/brand-nav.scss";
@use "components/order-dropdown.scss";

@use "components/buttons/add-cart-btn.scss";
@use "components/buttons/cart-btn.scss";
@use "components/buttons/submit-btn.scss";

@use "pages/cart.scss";
@use "pages/product.scss";
@use "pages/catalog.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  background-color: #f0f0f5;
  @apply container min-w-full min-h-screen px-6 min-[450px]:px-10 md:px-20 lg:px-40;
}

li,
p {
  color: $text-color;
}
